# Assignment I (March 2025)
***
# India AI: Artificial Intelligence

By: Lucky Sharma

                                                           # SECTION - A

# 1.	What are the key features of Python that make it popular for data science


   - Python is known for its simplicity and readability, which makes it accessible for beginners.
   - It has a vast ecosystem of libraries and frameworks such as NumPy, Pandas, Matplotlib, and Scikit-learn that facilitate data manipulation, analysis, and visualization.
   - Python supports various data formats and has strong community support, which contributes to its popularity in the data science field.
   - It is versatile and can be used for web development, automation, and machine learning, making it a multi-purpose language.
   - Python's integration capabilities with other languages and tools enhance its functionality in data science projects.
   - It has a large community and extensive documentation, which helps users find solutions and resources easily.
   - Python supports object-oriented programming, which allows for better organization of code and reuse of components.
   - It is platform-independent, meaning it can run on various operating systems without modification.
   - Python's interactive nature allows for quick prototyping and testing of data science models.
   - It has strong support for scientific computing and numerical analysis, making it suitable for complex mathematical computations.
   - Python's ability to handle large datasets efficiently is crucial for data science applications.
   - It has built-in support for data visualization, which is essential for presenting data insights effectively.
   - Python's community-driven development ensures continuous improvement and updates to the language and its libraries.

# 2.	Explain the different data types in Python with examples.



   - **Numeric Types**:
     - **int**: Represents integers. Example: `x = 10`
     - **float**: Represents floating-point numbers. Example: `y = 10.5`
     - **complex**: Represents complex numbers. Example: `z = 3 + 4j`

   - **Sequence Types**:
     - **str**: Represents strings (text). Example: `name = "John"`
     - **list**: An ordered, mutable collection of items. Example: `fruits = ["apple", "banana", "cherry"]`
     - **tuple**: An ordered, immutable collection of items. Example: `coordinates = (10, 20)`

   - **Mapping Type**:
     - **dict**: Represents a collection of key-value pairs. Example: `person = {"name": "Alice", "age": 30}`

   - **Set Types**:
     - **set**: An unordered collection of unique items. Example: `unique_numbers = {1, 2, 3}`
     - **frozenset**: An immutable version of a set. Example: `immutable_set = frozenset([1, 2, 3])`

   - **Boolean Type**:
     - **bool**: Represents truth values. Example: `is_active = True`

   - **None Type**:
     - **NoneType**: Represents the absence of a value or a null value. Example: `result = None`

# 3.	What is File, Module and Package. How to import a module from a package?



   - **File**: A file is a collection of data or information that is stored on a computer. In Python, files can be text files, binary files, or any other format that can be read or written by the program. Example: `data.txt`, `image.png`.

   - **Module**: A module is a file containing Python code that can define functions, classes, and variables. It allows for code organization and reuse. Modules can be imported into other Python scripts to access their functionality. Example: `math.py`, `os.py`.

   - **Package**: A package is a collection of related modules organized in a directory hierarchy. It allows for better organization of modules and can contain sub-packages. Packages are identified by the presence of an `__init__.py` file in the directory. Example: `numpy`, `pandas`.

   - **Importing a Module from a Package**: To import a module from a package, you use the `import` statement followed by the package name and the module name. For example, if you have a package named `mypackage` with a module named `mymodule`, you can import it as follows:
     ```python
     from mypackage import mymodule
     ```
     Alternatively, you can import all modules from a package using:
     ```python
     from mypackage import *
     ```

# 4.	Compare and contrast lists and tuples in Python. When should you use each?



   - **Lists**:
     - Lists are mutable, meaning their elements can be changed after creation.
     - They are defined using square brackets `[]`.
     - Lists can contain duplicate elements.
     - Lists have a dynamic size, allowing elements to be added or removed.
     - Example: `my_list = [1, 2, 3, 4]`

   - **Tuples**:
     - Tuples are immutable, meaning their elements cannot be changed after creation.
     - They are defined using parentheses `()`.
     - Tuples can also contain duplicate elements.
     - Tuples have a fixed size once created.
     - Example: `my_tuple = (1, 2, 3, 4)`

   - **When to Use Each**:
     - Use lists when you need a collection of items that may change over time (e.g., adding or removing elements).
     - Use tuples when you need a fixed collection of items that should not change (e.g., coordinates, configuration settings).
     - Tuples can also be used as keys in dictionaries due to their immutability, while lists cannot.

                                                       SECTION - B

# 5. Explain the difference between Python lists and NumPy arrays with an example.


   - **Python Lists**:
     - Lists are built-in data structures in Python that can hold a collection of items.
     - They can contain elements of different data types (e.g., integers, strings, floats).
     - Lists are flexible and can grow or shrink in size dynamically.
     - Example:
       ```python
       my_list = [1, 2, 3, 4.5, "hello"]
       ```

   - **NumPy Arrays**:
     - NumPy arrays are part of the NumPy library and are designed for numerical computations.
     - They are homogeneous, meaning all elements must be of the same data type (e.g., all integers or all floats).
     - NumPy arrays provide efficient storage and faster operations compared to lists.
     - Example:
       ```python
       import numpy as np
       my_array = np.array([1, 2, 3, 4.5])
       ```

   - **Key Differences**:
     - Lists can hold mixed data types, while NumPy arrays require elements to be of the same type.
     - NumPy arrays support vectorized operations, which allows for faster mathematical computations compared to lists.
     - NumPy provides a wide range of mathematical functions that can be applied directly to arrays, enhancing performance for numerical tasks.

# 6.	What are the advantages of using Pandas over Excel for data analysis?

Advantages of using Pandas over Excel for data analysis:-

- **Scalability**: Pandas can handle larger datasets than Excel, which has limitations on the number of rows and columns.
    - **Performance**: Pandas is optimized for performance and can perform operations on large datasets much faster than Excel.
    - **Data Manipulation**: Pandas provides powerful data manipulation capabilities, such as filtering, grouping, merging, and reshaping data, which are more advanced than Excel's features.
    - **Automation**: Pandas allows for automation of data analysis tasks through scripting, making it easier to repeat analyses without manual intervention.
    - **Integration**: Pandas integrates well with other Python libraries (e.g., NumPy, Matplotlib) for advanced data analysis and visualization.
    - **Reproducibility**: Using Pandas in Python scripts allows for reproducible analyses, as the code can be shared and executed on different systems without losing the analysis steps.

# 7.	What are different types of plots in Matplotlib? Explain with examples.

What are different types of plots in Matplotlib? Explain with examples.
Matplotlib is a powerful plotting library in Python that provides various types of plots for data visualization. Here are some common types of plots along with examples:
- **Line Plot**: Used to display data points connected by lines, often used for time series data.
  ```python
  import matplotlib.pyplot as plt

  x = [1, 2, 3, 4, 5]
  y = [2, 3, 5, 7, 11]
  plt.plot(x, y)
  plt.title("Line Plot")
  plt.xlabel("X-axis")
  plt.ylabel("Y-axis")
  plt.show()
  ```
- **Bar Plot**: Used to display categorical data with rectangular bars representing the values.
  ```python
  categories = ['A', 'B', 'C', 'D']
  values = [10, 15, 7, 12]  
    plt.bar(categories, values)
    plt.title("Bar Plot")
    plt.xlabel("Categories")
    plt.ylabel("Values")
    plt.show()
    ```
- **Histogram**: Used to display the distribution of numerical data by dividing it into bins.
  ```python
    import numpy as np
    data = np.random.randn(1000)  # Generate random data
    plt.hist(data, bins=30, alpha=0.7)
    plt.title("Histogram")
    plt.xlabel("Value") 
    plt.ylabel("Frequency")
    plt.show()
    ```
- **Scatter Plot**: Used to display the relationship between two numerical variables by plotting points on
a Cartesian plane.
  ```python
  x = [1, 2, 3, 4, 5]
  y = [2, 3, 5, 7, 11]
  plt.scatter(x, y)
  plt.title("Scatter Plot")
  plt.xlabel("X-axis")
  plt.ylabel("Y-axis")
  plt.show()
  ```
- **Pie Chart**: Used to display the proportions of different categories as slices of a pie.
  ```python
  labels = ['A', 'B', 'C', 'D']
  sizes = [15, 30, 45, 10]
  plt.pie(sizes, labels=labels, autopct='%1.1f%%')
  plt.title("Pie Chart")
  plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle
  plt.show()
  ```
- **Box Plot**: Used to display the distribution of data based on a five-number summary (minimum, first quartile, median, third quartile, maximum).
  ```python
  data = [np.random.normal(0, std, 100) for std in range(1, 4)]
  plt.boxplot(data, vert=True, patch_artist=True)
  plt.title("Box Plot")
  plt.xlabel("Groups")
  plt.ylabel("Values")
  plt.xticks([1, 2, 3], ['Group 1', 'Group 2', 'Group 3'])
  plt.show()
  ```   
- **Heatmap**: Used to display data in a matrix format with colors representing values.
  ```python
  import seaborn as sns
  data = np.random.rand(10, 12)  # Generate random data
  sns.heatmap(data, annot=True, cmap='coolwarm')
  plt.title("Heatmap")
  plt.xlabel("Columns")
  plt.ylabel("Rows")
  plt.show()
  ```
- **Area Plot**: Used to display quantitative data visually, where the area under the line is filled with color.
  ```python

# 8 What is NumPy? Why is it used in data science?

What is NumPy? Why is it used in data science?
NumPy (Numerical Python) is a powerful open-source library in Python that provides support for large, multi-dimensional arrays and matrices, along with a collection of mathematical functions to operate on these arrays. It is a fundamental package for scientific computing in Python and serves as the foundation for many other libraries used in data science, such as Pandas, SciPy, and Matplotlib.
NumPy is used in data science for several reasons:
- **Efficient Array Operations**: NumPy provides efficient operations on large arrays and matrices, allowing for fast computations and memory management. It uses contiguous blocks of memory, which improves performance compared to Python lists.
- **Mathematical Functions**: NumPy includes a wide range of mathematical functions for performing operations on arrays, such as linear algebra, statistical analysis, and Fourier transforms. This makes it easier to perform complex calculations on large datasets.
- **Broadcasting**: NumPy supports broadcasting, which allows for operations between arrays of different shapes and sizes without the need for explicit loops. This feature simplifies code and improves performance.
- **Interoperability**: NumPy arrays can be easily integrated with other libraries in the Python ecosystem, making it a versatile tool for data manipulation and analysis.
- **Data Types**: NumPy supports various data types, including integers, floats, and complex numbers, allowing for efficient storage and manipulation of numerical data.
- **Community Support**: NumPy has a large and active community, which means there are extensive resources, documentation, and tutorials available  for users to learn and troubleshoot issues.

                                                                         SECTION â€“ C

9.	Write a Python program to:


c.	Write a function that returns whether a given number is even or odd.

# a. Take user input for name, age, and city and display it in a formatted string.

In [ ]:
x = input("Enter name: ")
y = input("Enter Age: ")
z = input("Enter City: ")

str(print(x,y,z))

Lucky Sharma 22 Bahrmour
None

# b.	Create a list of five numbers and perform:

In [3]:
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

# i.	Append a new number.

In [8]:
l=[1,2,3,4,5]
l.append(6)
print("List  After Append A Number: ",l)

List  After Append A Number:  [1, 2, 3, 4, 5, 6]

# ii.	Remove the last element.

In [9]:
l=[1,2,3,4,5]
l.pop()
print("List After Removing Last Element: ",l)

List After Removing Last Element:  [1, 2, 3, 4]

# iii.	Sort the list in ascending order.

In [10]:
l=[10,21,33,4,5]
l.sort()
print("List After Sorting in Ascending Order: ",l)

List After Sorting in Ascending Order:  [4, 5, 10, 21, 33]

# 10.	Given the dataset:

In [2]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 22, 29, 27],
    'Department': ['HR', 'IT', 'IT', 'Finance', 'HR'],
    'Salary': [50000, 60000, 45000, 70000, 52000]
}

df = pd.DataFrame(data)
df

      Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   30         IT   60000
2  Charlie   22         IT   45000
3    David   29    Finance   70000
4      Eve   27         HR   52000

# Perform the following operations:

1.	Display the first 3 rows.

In [3]:
df.head(3)

      Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   30         IT   60000
2  Charlie   22         IT   45000

2.	Add a new column "Experience" with values [2, 5, 1, 6, 3].

In [5]:
df["Experience"]=[2,3,1,6,3]
df

      Name  Age Department  Salary  Experience
0    Alice   25         HR   50000           2
1      Bob   30         IT   60000           3
2  Charlie   22         IT   45000           1
3    David   29    Finance   70000           6
4      Eve   27         HR   52000           3

3.	Filter and display only employees from the IT department.

In [6]:
df[df['Department']=='IT']

      Name  Age Department  Salary  Experience
1      Bob   30         IT   60000           3
2  Charlie   22         IT   45000           1

4.	Find the average salary per department.

In [14]:
df.groupby('Department')['Salary'].mean()

Department
Finance    70000.0
HR         51000.0
IT         52500.0
Name: Salary, dtype: float64