**Pandas** library in Python:

---

## ðŸ¼ **Pandas â€“ Python Library for Data Analysis**

### ðŸ”¹ What is Pandas?

**Pandas** is an open-source Python library providing fast, flexible, and expressive data structures designed to work with structured (tabular), semi-structured, and time-series data.

It is especially useful for:

* Cleaning and preparing data
* Analyzing large datasets
* Converting data formats
* Performing data wrangling

---

### ðŸ”¹ Key Data Structures in Pandas:

| Structure   | Description                                                                 |
| ----------- | --------------------------------------------------------------------------- |
| `Series`    | One-dimensional labeled array (like a column in Excel)                      |
| `DataFrame` | Two-dimensional labeled data structure (like a table with rows and columns) |

---

### ðŸ”¹ Why Use Pandas?

* Easy handling of **missing data**
* Powerful **grouping** and **aggregation**
* High-performance **merging** and **joining**
* Built-in support for **time-series** data
* Easy **reading and writing** to CSV, Excel, SQL, JSON, etc.

---

### ðŸ”¹ Common Pandas Functions:

| Function                             | Purpose                             |
| ------------------------------------ | ----------------------------------- |
| `read_csv()`                         | Load data from a CSV file           |
| `head()` / `tail()`                  | View top/bottom rows of a DataFrame |
| `info()` / `describe()`              | Get data summary and statistics     |
| `isnull()` / `dropna()` / `fillna()` | Handle missing data                 |
| `groupby()`                          | Group and aggregate data            |
| `merge()` / `join()` / `concat()`    | Combine DataFrames                  |
| `to_csv()`                           | Export data to a CSV file           |

---

### ðŸ”¹ Example Code:

```python
import pandas as pd

# Load CSV
df = pd.read_csv('data.csv')

# Show first 5 rows
print(df.head())

# Get basic info
print(df.info())

# Filter data
filtered = df[df['age'] > 25]

# Group by and mean
grouped = df.groupby('department')['salary'].mean()
```

---

### ðŸ”¹ Real-World Use Cases:

* Analyzing sales data
* Preprocessing datasets for machine learning
* Financial data analysis
* Automating reports and dashboards

---

Pandas From Start

To install **Pandas** in your Python environment, follow these steps:

---

### âœ… For most users (using `pip`):

Open Command Prompt (CMD), Terminal, or PowerShell and run:

```bash
pip install pandas
```

---

### âœ… If you're using **Jupyter Notebook**:

Inside a code cell, run:

```python
!pip install pandas
```

---

### âœ… If you're using **Anaconda**:

Open **Anaconda Prompt** and run:

```bash
conda install pandas
```

---

### âœ… To verify installation:

After installing, you can test it by running:

```python
import pandas as pd
print(pd.__version__)
```

In [4]:
#Import panda as pd
import pandas as pd

Load The datasets

In [5]:
#we can Load the datasets by simply using the read_csv function
#we can also use load using Github raw data link for the datasets
df=pd.read_csv("https://raw.githubusercontent.com/itsluckysharma01/Datasets/refs/heads/main/testdata.csv")

**Pandas expressions and functions** along with their purpose and usage examples:

| **Expression / Function**  | **Description**                             | **Example**                           | **Output/Effect**                      |
| -------------------------- | ------------------------------------------- | ------------------------------------- | -------------------------------------- |
| `pd.Series()`              | Creates a one-dimensional array (Series)    | `pd.Series([1, 2, 3])`                | Series with values 1, 2, 3             |
| `pd.DataFrame()`           | Creates a two-dimensional table (DataFrame) | `pd.DataFrame({'A':[1,2],'B':[3,4]})` | Table with columns A and B             |
| `df.head(n)`               | Returns first `n` rows of DataFrame         | `df.head(3)`                          | Top 3 rows of the DataFrame            |
| `df.tail(n)`               | Returns last `n` rows of DataFrame          | `df.tail(2)`                          | Last 2 rows of the DataFrame           |
| `df.shape`                 | Returns shape (rows, columns) of DataFrame  | `df.shape`                            | e.g., `(5, 3)` means 5 rows, 3 columns |
| `df.columns`               | Lists all column names                      | `df.columns`                          | Index of column names                  |
| `df.info()`                | Summary of DataFrame (data types, nulls)    | `df.info()`                           | Overview of structure                  |
| `df.describe()`            | Summary statistics of numerical columns     | `df.describe()`                       | Mean, std, min, max, etc.              |
| `df['col']` or `df.col`    | Access column                               | `df['A']` or `df.A`                   | Series of values in column A           |
| `df.iloc[i]`               | Access row by index (position-based)        | `df.iloc[0]`                          | First row of DataFrame                 |
| `df.loc[condition]`        | Access rows using condition                 | `df.loc[df['A'] > 5]`                 | Rows where A > 5                       |
| `df.isnull()`              | Checks for missing values                   | `df.isnull()`                         | `True` where values are missing        |
| `df.dropna()`              | Drops rows with missing values              | `df.dropna()`                         | DataFrame without null rows            |
| `df.fillna(value)`         | Fills missing values                        | `df.fillna(0)`                        | Replaces NaN with 0                    |
| `df.sort_values(by='col')` | Sorts rows based on column                  | `df.sort_values(by='A')`              | Rows sorted by column A                |
| `df.groupby('col')`        | Groups data by column                       | `df.groupby('dept').mean()`           | Mean per group in 'dept' column        |
| `df.apply(function)`       | Applies a function to DataFrame or Series   | `df['A'].apply(lambda x: x*2)`        | Each value in A is multiplied by 2     |
| `df.merge(df2)`            | Joins two DataFrames                        | `df.merge(df2, on='id')`              | Merged DataFrame on column 'id'        |
| `df.to_csv('file.csv')`    | Saves DataFrame to CSV                      | `df.to_csv('data.csv')`               | Creates data.csv file                  |

In [6]:
print("\n Print Few Rows \n")
print(df.head())

 Print Few Rows

   rank discipline  phd  service   sex    salary
0  Prof          B   56     49.0  Male  186960.0
1  Prof          A   12      6.0  Male   93000.0
2   NaN          A   23     20.0  Male  110515.0
3  Prof          A   40     31.0   NaN  131205.0
4  Prof          B   20      NaN  Male  104800.0

In [7]:
print("\n Print Last Few Rows \n")
print(df.tail())

 Print Last Few Rows

         rank discipline  phd  service     sex    salary
75       Prof          B   18     10.0  Female  105450.0
76  AssocProf          B   19      6.0  Female  104542.0
77       Prof          B   17     17.0  Female  124312.0
78       Prof          A   28     14.0  Female  109954.0
79       Prof          A   23     15.0  Female  109646.0

In [8]:
print("\n print Shape of the DataFrame (row , columns)\n")
print(df.shape)

 print Shape of the DataFrame (row , columns)

(80, 6)

In [9]:
print("\n Print Data Types of Each Column \n")
print(df.dtypes)

 Print Data Types of Each Column

rank           object
discipline     object
phd             int64
service       float64
sex            object
salary        float64
dtype: object

In [10]:
df.info()  #information about the DataFrame
df.describe()  #statistical summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        79 non-null     object
 1   discipline  79 non-null     object
 2   phd         80 non-null     int64
 3   service     79 non-null     float64
 4   sex         79 non-null     object
 5   salary      79 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 3.9+ KB

             phd    service         salary
count  80.000000  79.000000      79.000000
mean   19.450000  14.860759  107315.886076
std    12.516217  12.179990   27596.271520
min     1.000000   0.000000   57800.000000
25%    10.000000   4.500000   88000.000000
50%    18.000000  14.000000  104542.000000
75%    27.250000  20.500000  126300.000000
max    56.000000  51.000000  186960.000000

Selecting Data

In **Pandas**, data selection means accessing specific rows, columns, or values from a `DataFrame` or `Series`.

---

### âœ… **Data Selection in Pandas â€“ Summary Table**

| **Syntax**                    | **Purpose**                          | **Example**                  | **Result**                              |
| ----------------------------- | ------------------------------------ | ---------------------------- | --------------------------------------- |
| `df['col']` or `df.col`       | Select a single column               | `df['Name']`                 | Returns a Series with column `Name`     |
| `df[['col1', 'col2']]`        | Select multiple columns              | `df[['Name', 'Age']]`        | Returns DataFrame with selected columns |
| `df.iloc[row_idx]`            | Select row(s) by position (index)    | `df.iloc[0]`                 | Returns the first row                   |
| `df.iloc[0:3]`                | Select multiple rows by index range  | `df.iloc[0:3]`               | First 3 rows                            |
| `df.loc[row_label]`           | Select row by label (index name)     | `df.loc[5]`                  | Row with index label `5`                |
| `df.loc[start:end]`           | Select range of rows by label        | `df.loc[2:4]`                | Rows with index labels 2, 3, and 4      |
| `df.loc[:, 'col']`            | Select all rows in one column        | `df.loc[:, 'Age']`           | Series of `Age` column                  |
| `df.loc[:, ['col1', 'col2']]` | Select all rows for multiple columns | `df.loc[:, ['Name', 'Age']]` | DataFrame with those columns            |
| `df.loc[row_idx, col_idx]`    | Select specific cell                 | `df.loc[0, 'Name']`          | Value from row 0, column `Name`         |
| `df[df['col'] > value]`       | Conditional row selection            | `df[df['Age'] > 25]`         | Rows where `Age` > 25                   |
| `df.query("col > value")`     | Query with string condition          | `df.query("Age > 25")`       | Same as above                           |
| `df.at[row, col]`             | Fast access to single value by label | `df.at[0, 'Name']`           | Value at row 0 and column `Name`        |
| `df.iat[row, col]`            | Fast access by integer position      | `df.iat[0, 1]`               | Value at (0,1) index                    |

---

These methods are essential for filtering, slicing, and analyzing your data.

In [11]:
print(df.head(10))

        rank discipline  phd  service   sex    salary
0       Prof          B   56     49.0  Male  186960.0
1       Prof          A   12      6.0  Male   93000.0
2        NaN          A   23     20.0  Male  110515.0
3       Prof          A   40     31.0   NaN  131205.0
4       Prof          B   20      NaN  Male  104800.0
5       Prof          A   20     20.0  Male  122400.0
6  AssocProf          A   20     17.0  Male   81285.0
7       Prof          A   18     18.0  Male  126300.0
8       Prof          A   18     18.0  Male  126300.0
9       Prof          A   29     19.0  Male   94350.0

In [16]:
#Slicing Data
print("\n Slicing Data \n")
print(df[1:5])  #Slicing rows from index 1 to 4

 Slicing Data

   rank discipline  phd  service   sex    salary
1  Prof          A   12      6.0  Male   93000.0
2   NaN          A   23     20.0  Male  110515.0
3  Prof          A   40     31.0   NaN  131205.0
4  Prof          B   20      NaN  Male  104800.0

In [14]:
print(df.iloc[: , :]) #print all rows and columns
print(df.iloc[1:3, 0:2])  #Slicing rows from index 1 to 4 and columns from index 0 to 1

         rank discipline  phd  service     sex    salary
0        Prof          B   56     49.0    Male  186960.0
1        Prof          A   12      6.0    Male   93000.0
2         NaN          A   23     20.0    Male  110515.0
3        Prof          A   40     31.0     NaN  131205.0
4        Prof          B   20      NaN    Male  104800.0
..        ...        ...  ...      ...     ...       ...
75       Prof          B   18     10.0  Female  105450.0
76  AssocProf          B   19      6.0  Female  104542.0
77       Prof          B   17     17.0  Female  124312.0
78       Prof          A   28     14.0  Female  109954.0
79       Prof          A   23     15.0  Female  109646.0

[80 rows x 6 columns]
   rank discipline
1  Prof          A
2   NaN          A

In [15]:
print(df.iloc[:, 1])      # All rows, column at index 1
print(df.iloc[0, :])      # First row, all columns

0     B
1     A
2     A
3     A
4     B
     ..
75    B
76    B
77    B
78    A
79    A
Name: discipline, Length: 80, dtype: object
rank              Prof
discipline           B
phd                 56
service           49.0
sex               Male
salary        186960.0
Name: 0, dtype: object

In [18]:
# Using .loc with labels
print(df.loc[0])
print(df.loc[1:3])

rank              Prof
discipline           B
phd                 56
service           49.0
sex               Male
salary        186960.0
Name: 0, dtype: object
   rank discipline  phd  service   sex    salary
1  Prof          A   12      6.0  Male   93000.0
2   NaN          A   23     20.0  Male  110515.0
3  Prof          A   40     31.0   NaN  131205.0

In [21]:
print(df.columns) # Before selecting columns, always confirm column names

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [22]:
# You can drop a column from the DataFrame using the .drop() method.
df.drop(columns=['rank'], inplace=True) #inplace mean it will modify the original DataFrame
print("\n DataFrame after dropping 'rank' column \n")
print(df.head())

 DataFrame after dropping 'rank' column

  discipline  phd  service   sex    salary
0          B   56     49.0  Male  186960.0
1          A   12      6.0  Male   93000.0
2          A   23     20.0  Male  110515.0
3          A   40     31.0   NaN  131205.0
4          B   20      NaN  Male  104800.0

In [ ]:
# If you want to remove multiple columns, pass a list:
# df.drop(columns=['rank', 'service'], inplace=True)

In [23]:
# Selecting specific columns
print(df.loc[:, 'phd'])

0     56
1     12
2     23
3     40
4     20
      ..
75    18
76    19
77    17
78    28
79    23
Name: phd, Length: 80, dtype: int64

In [25]:
print(df.loc[0:2, ['sex', 'service']])

    sex  service
0  Male     49.0
1  Male      6.0
2  Male     20.0

FILTERING ROWS

Selecting & Filtering Data (Selecting Columns)

In [27]:
print(df['sex'])  # Selecting a single column
print(df[['phd','service']])  # Selecting multiple columns

0       Male
1       Male
2       Male
3        NaN
4       Male
       ...
75    Female
76    Female
77    Female
78    Female
79    Female
Name: sex, Length: 80, dtype: object
    phd  service
0    56     49.0
1    12      6.0
2    23     20.0
3    40     31.0
4    20      NaN
..  ...      ...
75   18     10.0
76   19      6.0
77   17     17.0
78   28     14.0
79   23     15.0

[80 rows x 2 columns]

In [31]:
# Query example
print("\n Query Example \n")
print("\n Filtering rows where 'service' is greater than 30 \n")
print(df[df['service']>30])

 Query Example


 Filtering rows where 'service' is greater than 30

   discipline  phd  service     sex    salary
0           B   56     49.0    Male  186960.0
3           A   40     31.0     NaN  131205.0
10          A   51     51.0    Male   57800.0
11          B   39     33.0    Male  128250.0
15        NaN   35     33.0    Male       NaN
27          B   35     31.0    Male   99418.0
29          A   45     43.0    Male  155865.0
38          B   45     45.0    Male  146856.0
42          A   39     36.0  Female  137000.0

SORTING DATA

In [35]:
print("\n SORTING DATA \n")
print(df.sort_values (by='service', ascending=True))
#in decending order
print(df.sort_values (by='service', ascending=False))

 SORTING DATA

   discipline  phd  service     sex    salary
13          B    1      0.0    Male   88000.0
14          B    1      0.0    Male   88000.0
25          A    2      0.0    Male   85000.0
19          B    4      0.0    Male   92000.0
54          A   12      0.0  Female  105000.0
..        ...  ...      ...     ...       ...
29          A   45     43.0    Male  155865.0
38          B   45     45.0    Male  146856.0
0           B   56     49.0    Male  186960.0
10          A   51     51.0    Male   57800.0
4           B   20      NaN    Male  104800.0

[80 rows x 5 columns]
   discipline  phd  service     sex    salary
10          A   51     51.0    Male   57800.0
0           B   56     49.0    Male  186960.0
38          B   45     45.0    Male  146856.0
29          A   45     43.0    Male  155865.0
42          A   39     36.0  Female  137000.0
..        ...  ...      ...     ...       ...
45          B    5      0.0  Female   77000.0
25          A    2      0.0    Male   85000.0
57          A    2      0.0  Female   72500.0
54          A   12      0.0  Female  105000.0
4           B   20      NaN    Male  104800.0

[80 rows x 5 columns]

CREATE A NEW COLUMNS

In [36]:
df['New_col']= df['service'] * 2  # Creating a new column by multiplying 'service' by 2
print("\n DataFrame after adding a new column 'New_col' \n")
print(df.head())

 DataFrame after adding a new column 'New_col'

  discipline  phd  service   sex    salary  New_col
0          B   56     49.0  Male  186960.0     98.0
1          A   12      6.0  Male   93000.0     12.0
2          A   23     20.0  Male  110515.0     40.0
3          A   40     31.0   NaN  131205.0     62.0
4          B   20      NaN  Male  104800.0      NaN

AGGREGATION/Grouping

In [37]:
# Grouping by 'service' and calculating the mean of 'phd'
print(df.groupby('service')['phd'].mean())

service
0.0      3.857143
1.0      3.000000
2.0      4.750000
3.0      8.000000
4.0      4.000000
5.0     10.000000
6.0     12.666667
7.0     17.500000
8.0     13.750000
9.0     12.000000
10.0    14.333333
11.0    14.000000
14.0    24.000000
15.0    23.500000
17.0    18.000000
18.0    17.800000
19.0    29.666667
20.0    21.333333
21.0    22.000000
22.0    25.000000
23.0    27.000000
24.0    26.000000
25.0    25.000000
26.0    36.000000
27.0    29.000000
30.0    33.000000
31.0    37.500000
33.0    37.000000
36.0    39.000000
43.0    45.000000
45.0    45.000000
49.0    56.000000
51.0    51.000000
Name: phd, dtype: float64

RENAMING COLUMN

In [38]:
df.rename(columns={'phd': 'PhD'}, inplace=True)  # Renaming 'phd' to 'PhD'
print("\n DataFrame after renaming 'phd' to 'PhD' \n")
print(df.head())

 DataFrame after renaming 'phd' to 'PhD'

  discipline  PhD  service   sex    salary  New_col
0          B   56     49.0  Male  186960.0     98.0
1          A   12      6.0  Male   93000.0     12.0
2          A   23     20.0  Male  110515.0     40.0
3          A   40     31.0   NaN  131205.0     62.0
4          B   20      NaN  Male  104800.0      NaN

HANDLING DUPLICATES

In [41]:
print("\n Checking for Duplicates \n")
print(df.duplicated().sum())  # Check for duplicates

 Checking for Duplicates

2

In [42]:
# Drop Duplicates 
df.drop_duplicates(inplace=True)  # Drop duplicates
print("\n DataFrame after dropping duplicates \n")
print(df.head())    
print(df.shape)
print(df.duplicated().sum())  # Check again for duplicates after dropping

 DataFrame after dropping duplicates

  discipline  PhD  service   sex    salary  New_col
0          B   56     49.0  Male  186960.0     98.0
1          A   12      6.0  Male   93000.0     12.0
2          A   23     20.0  Male  110515.0     40.0
3          A   40     31.0   NaN  131205.0     62.0
4          B   20      NaN  Male  104800.0      NaN
(78, 6)
0

HANDLING MISSING VALUES

In [45]:
print("\n Missing Values \n")
print(df.isnull().sum())  # Check for missing values in each column
# print(df.notnull().sum())  # Check for non-missing values in each column

 Missing Values

discipline    1
PhD           0
service       1
sex           1
salary        1
New_col       1
dtype: int64

Fill numeric columns with statistical values

In [47]:
df['service']=df['service'].fillna(df['service'].mean())  # Fill missing values in 'service' with the mean
# df['service']=df['service'].fillna(df['service'].median())  # Fill missing values in 'service' with the median
# df['service']=df['service'].fillna(df['service'].mode()[0])  # Fill missing values in 'service' with the mod
print("\n DataFrame after filling missing values in 'service' \n")
print(df.isnull().sum())  # Check for missing values again

 DataFrame after filling missing values in 'service'

discipline    1
PhD           0
service       0
sex           1
salary        1
New_col       1
dtype: int64

Forward / Backward fill using modern syntax[ Useful in time series or ordered data]

In [50]:
df= df.ffill() # forward fill missing values
df= df.bfill() # backward fill missing values

Drop rows/columns with NaN (uncomment if needed)

In [52]:

df.dropna(inplace=True)
df.dropna(axis=1, inplace=True)
print("\n DataFrame after dropping rows with missing values \n")
print(df.isnull().sum())  # Check for missing values again
print(df.shape)  # Check the shape of the DataFrame after dropping rows with missing values

 DataFrame after dropping rows with missing values

discipline    0
PhD           0
service       0
sex           0
salary        0
New_col       0
dtype: int64
(78, 6)

In [53]:
# Final missing value report
print("\n Missing values after cleaning:")
print(df.isnull().sum())

 Missing values after cleaning:
discipline    0
PhD           0
service       0
sex           0
salary        0
New_col       0
dtype: int64

Loop through rows

In [ ]:
#loop not recommed for large datasets, but for small datasets it is fine
for index, row in df.iterrows():
    print(f"{row['service']} officer has PhD {row['PhD']}")

49.0 officer has PhD 56
6.0 officer has PhD 12
20.0 officer has PhD 23
31.0 officer has PhD 40
15.012987012987013 officer has PhD 20
20.0 officer has PhD 20
17.0 officer has PhD 20
18.0 officer has PhD 18
19.0 officer has PhD 29
51.0 officer has PhD 51
33.0 officer has PhD 39
23.0 officer has PhD 23
0.0 officer has PhD 1
33.0 officer has PhD 35
19.0 officer has PhD 25
3.0 officer has PhD 17
3.0 officer has PhD 8
0.0 officer has PhD 4
7.0 officer has PhD 19
27.0 officer has PhD 29
4.0 officer has PhD 4
30.0 officer has PhD 33
2.0 officer has PhD 4
0.0 officer has PhD 2
23.0 officer has PhD 30
31.0 officer has PhD 35
19.0 officer has PhD 38
43.0 officer has PhD 45
2.0 officer has PhD 7
20.0 officer has PhD 21
7.0 officer has PhD 9
21.0 officer has PhD 22
19.0 officer has PhD 27
18.0 officer has PhD 18
8.0 officer has PhD 12
23.0 officer has PhD 28
45.0 officer has PhD 45
8.0 officer has PhD 20
3.0 officer has PhD 4
18.0 officer has PhD 18
36.0 officer has PhD 39
8.0 officer has PhD 13
2.0 officer has PhD 4
0.0 officer has PhD 5
19.0 officer has PhD 23
25.0 officer has PhD 25
3.0 officer has PhD 11
11.0 officer has PhD 11
17.0 officer has PhD 17
18.0 officer has PhD 17
5.0 officer has PhD 10
14.0 officer has PhD 20
0.0 officer has PhD 12
3.0 officer has PhD 5
22.0 officer has PhD 25
0.0 officer has PhD 2
8.0 officer has PhD 10
1.0 officer has PhD 3
26.0 officer has PhD 36
10.0 officer has PhD 12
3.0 officer has PhD 3
10.0 officer has PhD 13
7.0 officer has PhD 14
27.0 officer has PhD 29
24.0 officer has PhD 26
19.0 officer has PhD 36
6.0 officer has PhD 7
11.0 officer has PhD 17
2.0 officer has PhD 4
7.0 officer has PhD 28
3.0 officer has PhD 8
9.0 officer has PhD 12
15.0 officer has PhD 24
10.0 officer has PhD 18
6.0 officer has PhD 19
17.0 officer has PhD 17
14.0 officer has PhD 28
15.0 officer has PhD 23

# EXPORT Cleaned DATA

In [58]:
df.to_csv("CleaneD_testdata_File.csv", index=False)  # Save the cleaned DataFrame to a new CSV file
#index is false is use to avoid writing row indices to the CSV file

Cleaned data save in CleaneD_CSV_File.csv file